* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: CaskaydiaCove Nerd Font; 
  font-size: large;
  font-weight: bold;
}

//Global Styles
.bar {
  background-color: rgba($background, 0);
  color: $foreground;
}

// Styles on classes (see eww.yuck for more information)
%widget {
  //background-color: rgba($color9, 0.6);
}

%modules {
  background-color: rgba($background, 0.6);
  border-radius: 1em;
  padding-left: 0.5em;
}

.left_top_bar {
  @extend %modules;
  padding-right: 10px;
}

.space {
  color: $color1;
};

.cpu_graph {
  border: 1px;
  border-style: solid;
  border-color: $foreground;
  background-color: rgba($color0, 1.0);
  color: $color2;
}

.test {
  background-color: darkred;
}

.degree {
  margin-top: -10px;
  font-size: small;
}

.right_top_bar {
  @extend %modules;
  padding-right: 14px;
}


.center_top_bar {
  @extend %modules;
  padding-right: 1em;
}


.icon {
  color: $color11;
}

.power_icon {
  color: $color2;
}

.logo {
  @extend %widget; 
  color: $color4;
  padding-left: 0.2em;
  padding-right: 0.6em;
}

.logo button:hover {
  color: $color3;
}

.clock {
  @extend %widget;
  padding-left: 0.2em;
  padding-right: 0.3em;
}

.calendar {
}

.music_cover {
  background-size: contain;
  background-color: black;
  border: 1px;
  border-style: solid;
}

.volume_icon {
}

.workspaces {
  @extend %widget; 
  padding-right: 8px; 
  //padding-top: 4px;
}

.workspaces button:hover {
  color: $color3;
}

.workspace_selected {
  color: $color3;
  font-size: medium;
}

.workspace_inactive {
  color: $color8;
  font-size: medium;
}
